.Images, .Images2, .Images3, .Images4 {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 22px;
    height: 100px;
    width: 500px;
    background: rgb(255, 255, 255);
    border: solid;
    border-width: 2px;
}

.box {
    width: 100px;
    height: 100px;
    background: red;
}

.circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
}

.box-with-border {
    width: 100px;
    height: 100px;
    background: red;
    border: solid;
    border-color: black;
}

.box-with-curve {
    width: 100px;
    height: 100px;
    background: red;
    border: solid;
    border-color: black;
    border-bottom-left-radius: 62%;
}

.leaf {
    width: 100px;
    height: 100px;
    background: greenyellow;
    border: solid;
    border-color: black;
    border-bottom-left-radius: 62%;
    border-bottom-right-radius: 62%;
    border-top-right-radius: 62%;
}

.lemon {
    width: 100px;
    height: 100px;
    background: yellow;
    border: solid;
    border-color: black;
    border-bottom-left-radius: 52%;
    border-top-right-radius: 52%;
}

.square-with-line {
    width: 100px;
    height: 100px;
    border: solid;
    border-color: black;
}

.line {
    position: relative;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 20px;
    background: black;
}

.square-two-lines {
    width: 100px;
    height: 100px;
    background: darkblue;
    border: solid;
    border-color: black;
}

.lines1 {
    position: relative;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 20px;
    background: yellow;
}

.lines {
    position: relative;
    top: 40px;
    left: 20px;
    width: 60px;
    height: 20px;
    background: yellow;
}

.square-plus {
    width: 100px;
    height: 100px;
    background: red;
    border: solid;
    border-color: black;
}

.line1 {
    position: relative;
    top: 25px;
    left: 40px;
    width: 20px;
    height: 56px;
    background: white;
}

.line2 {
    position: relative;
    top: -12px;
    left: 23px;
    width: 55px;
    height: 20px;
    background: white;
}

.square-x {
    width: 100px;
    height: 100px;
    border: solid;
    border-color: black;
}

.linex {
    position: relative;
    top: 25px;
    left: 40px;
    width: 20px;
    height: 56px;
    background: black;
    transform: rotate(45deg)
}

.linexx {
    position: relative;
    top: -31px;
    left: 40px;
    width: 20px;
    height: 56px;
    background: black; 
    transform: rotate(-45deg)  
}

.circle-x {
    width: 100px;
    height: 100px;
    border: solid;
    border-color: black;
    border-bottom-left-radius: 52%;
    border-top-right-radius: 52%;
    border-top-left-radius: 52%;
    border-bottom-right-radius: 52%;
}

.circle-next {
    width: 100px;
    height: 100px;
    border: solid;
    border-color: black;
    border-bottom-left-radius: 52%;
    border-top-right-radius: 52%;
    border-top-left-radius: 52%;
    border-bottom-right-radius: 52%;
}

.arrow1 {
    position: relative;
    top: 35px;
    left: 50px;
    width: 35px;
    height: 9px;
    background: black;
    transform: rotate(40deg) 
}

.arrow2 {
    position: relative;
    top: 43px;
    left: 50px;
    width: 35px;
    height: 9px;
    background: black;
    transform: rotate(-40deg) 
}

.arrow-line {
    position: relative;
    top: 25px;
    left: 20px;
    width: 55px;
    height: 10px;
    background: black;
}

.square-face {
    width: 100px;
    height: 100px;
    background: rgb(201, 193, 193);
    border: solid;
    border-color: black;
}

.eye {
    position: relative;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    border: solid;
    border-color: black;
}

.eye2 {
    position: relative;
    top: -12px;
    left: 55px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    border: solid;
    border-color: black;
}

.mouth {
    position: relative;
    top: -2px;
    left: 20px;
    width: 54px;
    height: 10px;
    background: red;
    border: solid;
    border-color: black;
    border-bottom-left-radius: 22%;
    border-top-right-radius: 22%;
    border-top-left-radius: 22%;
    border-bottom-right-radius: 22%;
}

.suqare-vamp-face {
    width: 100px;
    height: 100px;
    border: solid;
    border-color: black;
    border-bottom-left-radius: 32%;
    border-top-right-radius: 22%;
    border-top-left-radius: 22%;
    border-bottom-right-radius: 32%;
}

.lemoneye {
    position: relative;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    border: solid;
    border-color: black;
    border-bottom-left-radius: 52%;
    border-top-right-radius: 52%;
    border-bottom-right-radius: 40%;
}

.lemoneye2 {
    position: relative;
    top: -12px;
    left: 55px;
    width: 20px;
    height: 20px;
    border: solid;
    border-color: black;
    border-top-left-radius: 52%;
    border-bottom-right-radius: 52%;
    border-bottom-left-radius: 40%;
}

.eyeball {
    position: relative;
    top: 10px;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
}

.eyeball2 {
    position: relative;
    top: 10px;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
}

.vampmouth {
    position: relative;
    top: 1px;
    left: 25px;
    width: 60px;
    height: 6px;
    background: black;
}

.tooth {
    position: relative;
    top: 7px;
    left: -3px;
    width: 0px;
    height: 0px;
    border-bottom: 10px solid black;
    border-right: 16px solid transparent;
    transform: rotate(89deg);
}

.tooth2 {
    position: relative;
    top: -5px;
    left: 47px;
    width: 0px;
    height: 0px;
    border-bottom: 10px solid black;
    border-left: 16px solid transparent;
    transform: rotate(-90deg);
}

.square-bird {
    width: 100px;
    height: 100px;
    background: rgb(165, 165, 255);
    border: solid;
    border-color: black;
}

.head {
    position: relative;
    top: 22px;
    left: 50px;
    width: 22px;
    height: 22px;
    background: rgb(53, 53, 143);
    border-top-left-radius: 52%;
    border-bottom-right-radius: 58%;
    border-bottom-left-radius: 58%;
    transform: rotate(45deg)
}

.birdeye {
    position: relative;
    top: 7px;
    left: 7px;
    width: 3px;
    height: 3px;
    background: whitesmoke;
    border-radius: 50%;
}

.birdbody {
    position: relative;
    top: 15px;
    left: 25px;
    width: 40px;
    height: 40px;
    background: rgb(53, 53, 143);
    border-top-left-radius: 52%;
    border-bottom-right-radius: 52%;
    border-bottom-left-radius: 40%;
    transform: rotate(185deg)
}

.wing {
    position: relative;
    top: 10px;
    left: 10px;
    width: 23px;
    height: 23px;
    background: rgb(122, 122, 206);
    border-bottom-left-radius: 52%;
    border-top-right-radius: 52%;
    border-bottom-right-radius: 40%;
    transform: rotate(85deg)
}

.wingshadow {
    position: relative;
    top: 10px;
    left: 10px;
    width: 5px;
    height: 10px;
    background: black;
}

.square-kirby {
    width: 100px;
    height: 100px;
    background: rgb(150, 248, 255);
    border: solid;
    border-color: black;
}

.kirbybody {
    position: relative;
    top: 25px;
    left: 25px;
    width: 55px;
    height: 55px;
    background: rgb(247, 140, 158);
    border-bottom-left-radius: 52%;
    border-top-right-radius: 52%;
    border-top-left-radius: 52%;
    border-bottom-right-radius: 52%;
}

.keye1 {
    position: relative;
    top: 8px;
    left: 12px;
    width: 5px;
    height: 10px;
    background: black;
}

.keye2 {
    position: relative;
    top: -2px;
    left: 27px;
    width: 5px;
    height: 10px;
    background: black;
}

.kmouth {
    position: relative;
    top: -2px;
    left: 10px;
    width: 30px;
    height: 20px;
    background: rgb(211, 72, 72);
    border-bottom-left-radius: 62%;
    border-top-right-radius: 62%;
    border-top-left-radius: 62%;
    border-bottom-right-radius: 62%;
}

.toungue {
    position: relative;
    top: 9px;
    left: 10px;
    width: 16px;
    height: 10px;
    background: rgb(245, 162, 162);
    border-bottom-left-radius: 62%;
    border-top-right-radius: 62%;
    border-top-left-radius: 62%;
    border-bottom-right-radius: 62%;
}

.foot1 {
    position: relative;
    top: 9px;
    left: 20px;
    width: 26px;
    height: 20px;
    background: rgb(249, 92, 92);
    border-bottom-left-radius: 62%;
    border-top-right-radius: 62%;
    border-top-left-radius: 62%;
    border-bottom-right-radius: 62%;
    
}

.foot2 {
    position: relative;
    top: -10px;
    left: 55px;
    width: 26px;
    height: 20px;
    background: rgb(249, 92, 92);
    border-bottom-left-radius: 62%;
    border-top-right-radius: 62%;
    border-top-left-radius: 62%;
    border-bottom-right-radius: 62%;
}